/************************************************

Stylesheet: Blocks Global Stylesheet

*************************************************/

.content-blocks-container{
    padding:3.25rem 0;
}
.block{
    padding:3.25rem 0;
}
