/************************************************

Stylesheet: Global Stylesheet

*************************************************/

iframe{
	max-width:100%;
	width: 100%;
}

.responsive-embed{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.responsive-embed iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.hidden{
	height: 0;
	width: 0;
	visibility: hidden;
}
.single-employee{
	h5{
		text-align: center;
	}
	.employee-title-container{
		padding-bottom: 2.5rem;
		h1{
			margin-bottom: 0;
			text-align: center;
		}
	}
	.employee-photo{
		display: block;
		margin:0 auto;
		max-width:rem-calc(500);
		width: 100%;
	}
	.content-blocks-employee .block{
		padding-bottom: 0 !important;
	}
}

.single{
	p.byline{
		margin-bottom: rem-calc(30);
	}
	p.byline a{
		font-family: $overpass;
		font-weight: 700;
		font-style: normal;
		font-size: rem-calc(19);
		letter-spacing:rem-calc(.5);
		color:$white;
		background-color: $green;
		position: relative;
		top:0;
		text-decoration: none;
		padding:rem-calc(4) rem-calc(12);
	}
	.text-block{
		max-width:rem-calc(750);
        margin:0 auto;
	}
	.article-footer{
		margin-top:rem-calc(40);
		.tags a{
			color: $green;
			text-decoration: none;
		}
	}
}

.page-template-default{
	.text-block{
		max-width:rem-calc(750);
        margin:0 auto;
	}
}

.archive{
	h1.page-title{
		margin-bottom:rem-calc(10);
		text-align: center;
	}
}

.site-map{
	padding:1.5rem 0 3.5rem 0;
	max-width:rem-calc(750);
	margin:0 auto;
	.hide-for-medium-up{
		display: none;
	}
	h3{
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	.menu, .menu.horizontal{
		display: block;
	}
	.menu .active>a, .menu .is-active>a{
		background:transparent;
		color: $blue;
		border:0;
		&:hover{
			color: $green;
		}
	}
	.menu li a{
		font-size: rem-calc(19);
		font-weight: bold;
		padding-left: 0;
		padding-right: 0;
		@include breakpoint (small down) {
			font-size:rem-calc(17);
		}
	}
	.sub-menu li a{
		font-size: rem-calc(17);
		font-weight: 400;
		@include breakpoint (small down) {
			font-size:rem-calc(16);
		}
	}
	.sub-menu, .menu{
		list-style-type: none;
		li{
			margin-bottom: .5rem;
		}
	}
}

.blog-content{
	.excerpt-read-more{
		font-weight: bold;
	}
	.content-blocks {
		.block{
			padding:3.5rem 0 !important;
		}
		.text-block p.byline{
			font-family: $overpass;
			font-weight: 700;
			font-style: normal;
			font-size: rem-calc(19);
			letter-spacing:rem-calc(.5);
			color:$green;
			position: relative;
			top: rem-calc(-2);
			text-decoration: none;
		}
		.text-block p.byline a{
			font-family: $overpass;
			font-weight: 700;
			font-style: normal;
			font-size: rem-calc(19);
			letter-spacing:rem-calc(.5);
			color:$green;
			position: relative;
			top:0;
			text-decoration: none;
		}
		img{
			margin:rem-calc(20) auto;
		}
		.button{
			margin:rem-calc(30) auto 0 auto;
		}
		.content-blocks-container{
			padding-top: 0 !important;
		}
		.content-blocks-container article:nth-child(even){
			.text-block{
				background-color: $off-white;
		        h1{
		            color: $blue;
		        }
			}
		}
	}
	.article-header{
		margin-bottom:rem-calc(20);
	}
	.article-footer{
		margin-top:rem-calc(40);
		.tags a{
			color: $green;
			text-decoration: none;
		}
	}
	.page-navigation{
	    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
		.pagination{
			display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	        display: -ms-flexbox;  /* TWEENER - IE 10 */
	        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	        display: flex;
	        flex-wrap: wrap;
	        align-items: center;
	        justify-content: center;
			margin-left: 0;
			margin-bottom: 0;
			li{
				list-style-type: none;
				padding:rem-calc(0) rem-calc(12);
				.current{
					font-weight: bold;
				}
			}
		}
	}
}

.page-template-template-our-team .content .content-blocks .content-blocks-container{
	background-color: $blue;
}

.align-middle {
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

video{
	max-width: 100%;
}

.screen {
	position: absolute;
	z-index: 0;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;

	&[data-opacity="1"] {
		background-color: rgba($white, .1);
	}

	&[data-opacity="2"] {
		background-color: rgba($white, .2);
	}

	&[data-opacity="3"] {
		background-color: rgba($white, .3);
	}

	&[data-opacity="4"] {
		background-color: rgba($white, .4);
	}

	&[data-opacity="5"] {
		background-color: rgba($white, .5);
	}

	&[data-opacity="6"] {
		background-color: rgba($white, .6);
	}

	&[data-opacity="7"] {
		background-color: rgba($white, .7);
	}

	&[data-opacity="8"] {
		background-color: rgba($white, .8);
	}

	&[data-opacity="9"] {
		background-color: rgba($white, .9);
	}

	&.black-overlay{

		&[data-opacity="1"] {
			background-color: rgba($black, .1);
		}

		&[data-opacity="2"] {
			background-color: rgba($black, .2);
		}

		&[data-opacity="3"] {
			background-color: rgba($black, .3);
		}

		&[data-opacity="4"] {
			background-color: rgba($black, .4);
		}

		&[data-opacity="5"] {
			background-color: rgba($black, .5);
		}

		&[data-opacity="6"] {
			background-color: rgba($black, .6);
		}

		&[data-opacity="7"] {
			background-color: rgba($black, .7);
		}

		&[data-opacity="8"] {
			background-color: rgba($black, .8);
		}

		&[data-opacity="9"] {
			background-color: rgba($black, .9);
		}
	}

}

.slick-dots{
	bottom: rem-calc(-35);
}

.slick-dots li button{
	transition: all .2s ease-in-out;
	&:before{
		color: $grey;
		transform: scale(1.5);
		opacity: 1;
	}
}
.slick-dots li.slick-active button:before{
	color: $blue;
	transform: scale(2);
	opacity: 1;
}
.slick-slide > div{
	text-align: center;
}
.slick-prev .slick-arrow{
	color: $blue;
}
.slick-next .slick-arrow{
	color: $blue;
	background-color: pink;
}
.slick-prev{
	left: rem-calc(30);
	z-index: 1;
	transition: all .2s ease-in-out;
	@include breakpoint (small down) {
		left: 0;
	}
	&:before{
		content: "\e906";
		font-family: 'icomoon' !important;
		color:$blue;
		opacity: 1;
		font-size: rem-calc(28);
	}
	&:hover{
		&:before{
			color: $green;
		}
		left:rem-calc(28);
		@include breakpoint (small down) {
			left: 0;
		}
	}
}
.slick-next{
	right: rem-calc(30);
	z-index: 1;
	transition: all .2s ease-in-out;
	@include breakpoint (small down) {
		right: 0;
	}
	&:before{
		content: "\e905";
		font-family: 'icomoon' !important;
		color:$blue;
		opacity: 1;
		font-size: rem-calc(28);
	}
	&:hover{
		&:before{
			color: $green;
		}
		right: rem-calc(28);
		@include breakpoint (small down) {
			right: 0;
		}
	}
}
.slick-track,
.slick-list {
	-webkit-perspective: 2000;
	-webkit-backface-visibility: hidden;
}
.slick-slide { -webkit-backface-visibility: hidden; }
.slick-slider .slick-track,
.slick-slider .slick-list{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
.slick-slide { will-change: transform; }


.live-chat{
	display: none !important;
	position: fixed;
	right: -29px;
	top: 50%;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	z-index: 10;
	display: none;
	a{
		width:auto;
		height: auto;
		display: block;
		background: $white;
		color: $blue;
		text-transform: uppercase;
		padding:10px;
		text-decoration: none;
		font-weight: 600;
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
	    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
	    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
	    -ms-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
	    -o-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
		&:hover{
			color: $green;
		}
	}
}

.search{
	h2 a:hover{
		color: $green;
	}
}

/*********************
ANIMATION
*********************/
@mixin animateTransition($timing) {
	-webkit-transition: $timing;
	-moz-transition: $timing;
	-ms-transition: $timing;
	-o-transition: $timing;
	transition: $timing;
}
/*********************
Background Sizing
*********************/
@mixin bgSize($sizing){
	background-size: $sizing;
	-webkit-background-size: $sizing;
	-moz-background-size: $sizing;
	-ms-background-size: $sizing;
	-o-background-size: $sizing;
}

/*********************
POSTS & CONTENT STYLES
*********************/
.page-title {

	// Remove Foundation vcard styling from author page titles
	.vcard {
		border: 0px;
		padding: 0px;
	}
}

// Post meta
.byline {
	color: #999;
	time {}
}

// Entry content
.entry-content {

	img {
		max-width: 100%;
		height: auto;
	}

	.alignleft, img.alignleft {
		margin-right: 1.5em;
		display: inline;
		float: left;
	}
	.alignright, img.alignright {
		margin-left: 1.5em;
		display: inline;
		float: right;
	}
	.aligncenter, img.aligncenter {
		margin-right: auto;
		margin-left: auto;
		display: block;
		clear: both;
	}

	video, object {
		max-width: 100%;
		height: auto;
		}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
		}

}

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	// Images inside wp-caption
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}
}

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}

/*********************
IMAGE GALLERY STYLES
*********************/
.gallery {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-right: -15px;
	margin-left: -15px;
}
.gallery::before, .gallery::after {
	content: ' ';
	display: table;
}
.gallery::after {
	clear: both;
}
.gallery.gallery-columns-1 > dl {
	@include grid-column;
}
.gallery.gallery-columns-2 > dl {
	@include grid-column(1 of 2);
}
.gallery.gallery-columns-3 > dl {
	@include grid-column(1 of 3);
}
.gallery.gallery-columns-4 > dl {
	@include grid-column(1 of 4);
}
.gallery.gallery-columns-5 > dl {
	@include grid-column(1 of 5);
}
.gallery.gallery-columns-6 > dl {
	@include grid-column(1 of 6);
}
.gallery.gallery-columns-7 > dl {
	@include grid-column(1 of 7);
}
.gallery.gallery-columns-8 > dl {
	@include grid-column(1 of 8);
}
.gallery dl {
	width: 100%;
	float: left;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
}
.gallery dl:last-child:not(:first-child) {
  float: right;
 }

// Gallery caption styles
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
	margin-top: 1rem;
}

/*********************
COMMENT STYLES
*********************/
#comments {
	.commentlist {
		margin-left: 0px;
	}
}

#respond {
	ul {
		margin-left: 0px;
	}
}

.commentlist {
	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           // Change number for different depth
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		}
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-left: 10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {
	}
	li.depth-4 {}
	li.depth-5 {}

	// General comment classes
	.alt {}
	.odd {
	}
	.even {
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	// vcard
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} // end .commentlist .vcard


	// comment meta
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	// comment content
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} // end .commentlist .comment_content

	// comment reply link
	.comment-reply-link {
		float: right;

		&:hover,
		&:focus {

		}

	} // end .commentlist .comment-reply-link

} // end .commentlist

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			// form validation
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

// comment form title
#comment-form-title {
	margin: 0 0 1.1em;
}

// cancel comment reply link
#cancel-comment-reply {
	a {}
}

// logged in comments
.comments-logged-in-as {}

// allowed tags
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}

// No comments
.nocomments {
	margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
	li{
		list-style: none;
	}
}

.widget {
	ul {
		margin: 0;
	}
}
/*********************
FOOTER STYLES
*********************/
.footer {
	clear: both;
	margin-top: 1em;
}

/*********************
VISUAL EDITOR STYLES
*********************/
// Makes content look better in visual editor
body#tinymce {
   	margin: 20px;
}

/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
    list-style: none outside none;
    margin: 0;
}

span.display-name{
	color: $white;
}
