/************************************************

Stylesheet: Header Stylesheet

*************************************************/

.content-header{
    position: relative;
    .content-header-image{
        width: 100%;
        height: 100%;
        min-height:rem-calc(700);
        @include bgSize(cover);
        background-position: center center;
        background-repeat: no-repeat;
    }
    .content-header-image-row,.content-header-video-row{
        display: -ms-flexbox;
    	display: -webkit-flex;
    	display: flex;
    	-ms-flex-align: center;
    	-webkit-align-items: center;
    	-webkit-box-align: center;
    	align-items: center;
        min-height:rem-calc(700);
        max-width:rem-calc(700);
        margin:0 auto;
        padding:6.25rem 0;
        color: $white;
        z-index: 1;
        position: relative;
    }
    h1{
        color: $white;
        font-family: $rosario;
        font-size: rem-calc(55);
        line-height:rem-calc(65);
        font-weight: 700;
        text-align: center;
        letter-spacing: rem-calc(.5);
        margin-bottom: 1rem;
    }
    p{
        color: $white;
        font-size: rem-calc(20);
        text-align: center;
        font-weight: 400;
        line-height: rem-calc(30);
        margin-bottom: 0;
    }
}
