/************************************************

Stylesheet: Navigation Stylesheet

*************************************************/
header.header{
    background-color: $white;
    position: relative;
    z-index: 1;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}
.main-menu{
    .logo-container{
        @media screen and (min-width: 768px) and (max-width:59.375em){
            width: 100%;
        }
    }
    .navigation-container{
        @media screen and (min-width: 768px) and (max-width:59.375em){
            width: 100%;
            margin-top: rem-calc(-80);
            .top-bar-right{
                float: none;
            }
            .top-menu{
                position: relative;
                top: rem-calc(-60);
            }
            #menu-main-menu{
                margin:0 auto;
            }
        }
        @include breakpoint (small down) {
            padding:0;
        }
    }
    .mobile-menu-button{
        @include breakpoint (small down) {
            display: block;
            padding-right: 1rem;
            position: relative;
            top:rem-calc(-23.31);
        }
        @media only screen and (max-width: 22.000rem){
            padding-right: .5rem;
        }
    }
    .menu-icon{
        outline:0;
        width:auto;
        height:auto;
        padding-right: 25px;
        font-size: rem-calc(18);
        margin-left: auto;
        display: none;
        color: $blue;
<<<<<<< HEAD
        font-weight: 700;
        font-family: $overpass;
=======
        font-family: $overpass;
        font-weight: 700;
>>>>>>> c1fe151179a0aa85a5ffb2c887e4ecfb4cbc6446
        @include breakpoint (small down) {
            display: block;
        }
        &:after{
            width: 20px;
            right: 0;
            top: 2px;
            left: inherit;
            box-shadow: 0 6px 0 $blue, 0 12px 0 $blue;
        }
        &:hover{
            &:after{
                box-shadow:0 6px 0 $blue, 0 12px 0 $blue;
                background-color: $blue;
            }
        }
        &.active-menu{
            &:after{
                color: $blue;
                content:'\d7';
                box-shadow: none;
                background-color: transparent;
                height: auto;
                font-size: rem-calc(30);
<<<<<<< HEAD
                top: -.375rem;
=======
                top: rem-calc(-6.05);
                right: rem-calc(2);
                font-weight: 400;
>>>>>>> c1fe151179a0aa85a5ffb2c887e4ecfb4cbc6446
            }
        }
    }
    #menu-main-menu{
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -o-transform: translateY(0px);
        opacity: 1;
        @media screen and (min-width: 768px){
            display: flex !important;
        }
        @include breakpoint (small down) {
            display: none;
            transform: translateY(0px);
            -webkit-transform: translateY(0px);
            -ms-transform: translateY(0px);
            -moz-transform: translateY(0px);
            -o-transform: translateY(0px);
        }
        li{
            a{
                background-color: $white;
                color: $blue;
                border-bottom:3px solid transparent;
<<<<<<< HEAD
                font-family: $overpass;
                font-size:rem-calc(17);
                line-height:1;
                font-weight: 700;
                color: $blue;
                padding:1rem 1rem 1.35rem 1rem;
                @media only screen and (max-width:60.938rem){
                    font-size:rem-calc(16);
                }
=======
                font-size:rem-calc(16.5);
                font-family: $overpass;
                font-weight: 600;
                transition-property: all;
                transition-duration: 400ms;
                transition-timing-function: linear;

>>>>>>> c1fe151179a0aa85a5ffb2c887e4ecfb4cbc6446
                @include breakpoint (small down) {
                    padding:1rem;
                    border-bottom: 0;
                    font-size:rem-calc(17);
                }
                @media screen and (min-width: 768px){
                    &:after{
                        content: " ";
                        width:100%;
                        height: rem-calc(2);
                        background-color: transparent;
                        display: block;
                        margin-top: rem-calc(5);
                        transition-property: all;
                        transition-duration: 400ms;
                        transition-timing-function: linear;
                    }
                }
            }
            a:hover{
                color: $green;
                border-bottom:3px solid transparent;
                @include breakpoint (small down) {
                    border-bottom: 0;
                    background-color: $green;
                    color: $white;
                }
                &:after{
                    background-color: $green;
                }
            }
            a.sf-with-ul{
                padding-right: 1rem;
                display: block;
            }
            a.sf-with-ul:after{
                display: none;
                @include breakpoint (small down) {
                    display: block;
                }
            }
            &.current-menu-item a{
                color: $green;
<<<<<<< HEAD
                font-weight: bold;
=======
>>>>>>> c1fe151179a0aa85a5ffb2c887e4ecfb4cbc6446
                @include breakpoint (small down) {
                    color: $white;
                    background-color: $green;
                    border-bottom: none;
                }
                &:after{
                    background-color: $green !important;
                }
            }
            &.menu-item-has-children a{
                padding-right: 1rem;
                &:after{
                    display: none;
                    @media screen and (min-width: 768px){
                        content: " ";
                        width:100%;
                        height: rem-calc(2);
                        background-color: transparent;
                        display: block;
                        margin-top: rem-calc(5);
                        top: initial;
                        bottom: initial;
                        left: initial;
                        right: initial;
                        margin-bottom: 0;
                        margin-left: 0;
                        margin-right: 0;
                        padding: 0;
                        border: 0;
                        position: relative;
                        transition-property: all;
                        transition-duration: 300ms;
                        transition-timing-function: linear;
                    }
                    @include breakpoint (small down) {
                        display: block;
                        border:0;
                        font-family: 'icomoon' !important;
                        content: "\e900";
                        color: $blue;
                        height: auto;
                        width: auto;
                        top: 39%;
                    }
                }
                &:hover{
                    color: $green;
                    @include breakpoint (small down) {
                        color: $white;
                    }
                    &:after{
                        background-color: $green;
                        @include breakpoint (small down) {
                            background-color: transparent;
                            border:0;
                            color: $white;
                        }
                    }
                }
            }
            &.is-dropdown-submenu-parent.is-active a.sf-with-ul{
                color: $green;
            }
            .submenu{
                border-top: 0;
                position: absolute;
                margin: auto;
                bottom: 0;
                top: 101%;
                left: 50%;
                right:initial;
                transform: translate(-50%, 0);
                -webkit-transform: translate(-50%, 0);
                -moz-transform: translate(-50%, 0);
                -ms-transform: translate(-50%, 0);
                -o-transform: translate(-50%, 0);
                z-index: -1;
                background-color:transparent;
                border:0;
                @include breakpoint (small down) {
                    z-index: 1;
                    position: relative;
                    display: none;
                    top: 0;
                }
                li{
                    a{
                        padding:1rem;
                        border-bottom: 0;
                        background-color: $light-gray;
                        color: $blue;
<<<<<<< HEAD
                        font-size: rem-calc(16)
=======
                        font-size:rem-calc(16);
                        transition-property: all;
                        transition-duration: 100ms;
                        transition-timing-function: ease;
                        &:after{
                            display: none;
                        }
>>>>>>> c1fe151179a0aa85a5ffb2c887e4ecfb4cbc6446
                    }
                    a:hover{
                        background-color: $green;
                        color: $white;
                    }
                    &.current-menu-item a{
<<<<<<< HEAD
                        color: $green;
=======
                        color: $white;
                        background-color: $blue;
>>>>>>> c1fe151179a0aa85a5ffb2c887e4ecfb4cbc6446
                        @include breakpoint (small down) {
                            color: $white;
                            background-color: $green;
                        }
                        &:hover{
                            color: $white;
                        }
                    }
                }
            }
        }
    }
    .top-bar-right{
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        height: 135px;
        float: right;
        @include breakpoint (small down) {
            width: 100%;
            display: block;
            float: none;
            height: auto;
        }
        .top-menu{
<<<<<<< HEAD
            padding-top:1.35rem;
            padding-bottom:rem-calc(10);
            padding-right: 1rem;
=======
            padding-top:rem-calc(23.31);
            padding-bottom:rem-calc(14);
            padding-right: rem-calc(16);
>>>>>>> c1fe151179a0aa85a5ffb2c887e4ecfb4cbc6446
            @include breakpoint (small down) {
                position: absolute;
                top: 0;
                right: 0;
            }
            @media only screen and (max-width: 22.000rem){
                padding-right: .5rem;
            }
            h1{
                visibility: hidden;
                text-indent: -9999px;
                margin:0;
                height:0;
            }
            span{
                display: block;
                text-align: right;
                font-family: $overpass;
<<<<<<< HEAD
                font-weight: 700;
                font-style: italic;
                font-size: rem-calc(14);
                letter-spacing:rem-calc(.5);
                color:$blue;
            }
            a{
                font-family: $overpass;
                font-weight: 700;
                font-style: normal;
                font-size: rem-calc(17);
                letter-spacing:rem-calc(.5);
                color:$green;
                position: relative;
                top: rem-calc(-2);
                @media only screen and (max-width:25.000em){
                    font-size: rem-calc(15);
=======
                font-size:rem-calc(14);
                font-weight: 600;
                font-style: italic;
                color: $blue;
                @media screen and (max-width:20.000em){
                    font-size: rem-calc(13);
                }
                a{
                    font-family: $overpass;
                    font-size:rem-calc(17);
                    font-weight: 700;
                    font-style:normal;
                    color: $green;
                    @media screen and (max-width:20.000em){
                        font-size: rem-calc(15);
                    }
>>>>>>> c1fe151179a0aa85a5ffb2c887e4ecfb4cbc6446
                }
            }
        }
    }
    .top-bar-left{
        .menu{
            a{
                padding:0;
                display: flex;
                -ms-flex-pack: center;
                justify-content: center;
                -ms-flex-direction: column;
                flex-direction: column;
                text-align: center;
                height: rem-calc(135);
                z-index: 1;
                position: relative;
                @include breakpoint (small down) {
                    height: rem-calc(110);
                    padding-top: rem-calc(18)
                }
            }
            img{
                width: 100%;
                max-width: rem-calc(300);
                @include breakpoint (small down) {
<<<<<<< HEAD
                    max-width:16rem;
                    position: relative;
                    left: -.5rem;
                }
                @media only screen and (max-width: 25.000rem){
                    max-width: rem-calc(220);
                }
                @media only screen and (max-width: 22.000rem){
                    left: -.75rem;
=======
                    max-width:rem-calc(255);
                    left: rem-calc(-8);
                    position: relative;
                }
                @media screen and (max-width:26.250em){
                    max-width: rem-calc(225);
                }
                @media screen and (max-width:20.000em){
                    max-width: rem-calc(205);
>>>>>>> c1fe151179a0aa85a5ffb2c887e4ecfb4cbc6446
                }
            }
        }
    }
}
.accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle)>a:after{
    content: "\e907";
    font-family: 'icomoon' !important;
    border:0;
    margin-top: rem-calc(-9);
    right: rem-calc(37);
    font-size:rem-calc(14);
}
.accordion-menu .is-accordion-submenu-parent[aria-expanded=true]>a:after{
    content: "\e908";
    transform: rotate(0);
    transform-origin: 0;
}
