/************************************************

Stylesheet: Typography Stylesheet

*************************************************/

@import url('https://fonts.googleapis.com/css?family=Rosario:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Overpass:300,400,400i,600,600i,700,700i');

$rosario: 'Rosario', sans-serif;
$overpass: 'Overpass', sans-serif;

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?5ar4n4');
  src:  url('../fonts/icomoon.eot?5ar4n4#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?5ar4n4') format('truetype'),
    url('../fonts/icomoon.woff?5ar4n4') format('woff'),
    url('../fonts/icomoon.svg?5ar4n4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e900";
  color: #173258;
}
.icon-instagram:before {
  content: "\e901";
  color: #173258;
}
.icon-linkedin:before {
  content: "\e902";
  color: #173258;
}
.icon-minus:before {
  content: "\e90b";
}
.icon-plus:before {
  content: "\e90a";
}
.icon-chevron-right:before {
  content: "\e905";
}
.icon-chevron-left:before {
  content: "\e906";
}
.icon-chevron-down:before {
  content: "\e907";
}
.icon-chevron-up:before {
  content: "\e908";
}

a{
    color: $blue;
    text-decoration: underline;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    &:hover,&:focus{
        color: $green;
        text-decoration: underline;
    }
    &:visited{
        color: $blue;
    }
}

a[href^="tel:"] {
    color: $blue;
    text-decoration: underline;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    &:hover,&:focus{
        color: $green;
        text-decoration: underline;
    }
    &:visited{
        color: $blue;
    }
}

.button,input[type=submit]{
    background-color: $blue;
    color: $white;
    font-family: $overpass;
    font-weight: 600;
    font-size:rem-calc(17);
    line-height:1;
    letter-spacing: rem-calc(.5);
    text-align: center;
    border-radius: rem-calc(3);
    -webkit-border-radius: rem-calc(3);
    -moz-border-radius: rem-calc(3);
    -ms-border-radius: rem-calc(3);
    padding:rem-calc(21) rem-calc(25) rem-calc(22) rem-calc(25);
    margin:0;
    text-decoration: none;
    &:hover{
        color: $white;
        background-color:$green;
        text-decoration: none;
    }
    &:focus{
        background-color: $blue;
        color: $white;
        text-decoration: none;
    }
    &:active{
        background-color: $blue;
        color: $white;
        text-decoration: none;
    }
    &:visited{
        color: $white;
        text-decoration: none;
    }
    @include breakpoint (small down) {
        padding:rem-calc(16) rem-calc(21) rem-calc(18) rem-calc(21);
    }
}

.btn-center{
    text-align: center;
    margin:rem-calc(48) auto 0 auto;
}

h1,h2{
    font-family: $rosario;
    font-size: rem-calc(42);
    line-height:rem-calc(48);
    font-weight: 700;
    letter-spacing: rem-calc(.5);
    margin-bottom: 2rem;
    color: $blue;
    @include breakpoint (medium down) {
        font-size: rem-calc(38);
        line-height: rem-calc(44);
        margin-bottom: 1.5rem;
    }
    @include breakpoint (small down) {
        font-size: rem-calc(34);
        line-height: rem-calc(40);
    }
}

h2,h3,h4,h5,h6{
    font-family: $rosario;
    letter-spacing: rem-calc(.5);
    color: $blue;
    font-weight: 700;
}

p,span,li{
    font-family: $overpass;
    color: $blue;
    font-weight: 400;
    font-size: rem-calc(17);
    @include breakpoint (small down) {
        font-size: rem-calc(16);
    }
}

li{
    margin-bottom: 1rem;
}

blockquote{
    font-family: $overpass;
    color: $blue;
    font-weight: 400;
    border-left: rem-calc(1) solid $blue;
    p{
        font-family: $overpass;
        color: $blue;
        font-weight: 400;
    }
}

hr{
    border-bottom: rem-calc(1) solid $grey;
}
