/************************************************

Stylesheet: Typography Stylesheet

*************************************************/

@import url('https://fonts.googleapis.com/css?family=Rosario:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Overpass:300,400,400i,600,700');

$rosario: 'Rosario', sans-serif;
$overpass: 'Overpass', sans-serif;
