/************************************************

Stylesheet: Variables Stylesheet

*************************************************/

// $blue:#193258;
$blue:#183258;
$dark-blue:#1a2e51;
$green:#225e2f;
$black:#000000;
$off-black:#232020;
$white:#ffffff;
$off-white:#f7fbf4;
$grey:#e5e5e5;
$padding:2.5rem 0;
$paddingBG:5rem 0;
