/************************************************

Stylesheet: Variables Stylesheet

*************************************************/

$blue:#183258;
$dark-blue:#1a2e51;
$green:#255f30;
$black:#000000;
$off-black:#232020;
$white:#ffffff;
$off-white:#f6fbfb;
$grey:#e5e5e5;


$padding:2.5rem 0;
$paddingBG:5rem 0;
$marginBottom:1.5rem;
$columnPadding:0 1.5rem;
