@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Overpass:600');
$overpass: 'Overpass', sans-serif;
.button,input[type=submit]{
    background-color: $blue;
    color: $white;
    font-family: $overpass;
    font-weight: 600;
    font-size:17px;
    line-height:1;
    text-align: center;
    border-radius: 3px;
    padding:20px 25px 22px 25px;
    margin:0;
    text-decoration: none;
    &:hover{
        color: $white;
        background-color:$green;
        text-decoration: none;
    }
    &:focus{
        background-color: $blue;
        color: $white;
        text-decoration: none;
    }
    &:active{
        background-color: $blue;
        color: $white;
        text-decoration: none;
    }
    &:visited{
        color: $white;
        text-decoration: none;
    }
    @media only screen and (max-width: 47.9375em){
        padding:16px 21px 18px 21px;
    }
}
